<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>CIAT Report</title>
		<style type="text/css" media="screen">
			.red { background-color: red; }
			.green { background-color: green; }
			.yellow { background-color: yellow; }
			.unset { background-color: white; }
		</style>
	</head>
	
	<body>
	<% results.each do |result| %>
		<div class="<%= result.compilation_light.color %>">
		<h1><%= result.description %></h1>

		<h2>Source</h2>

<pre>
<%= result.source %></pre>

		<h2>Target Code</h2>

<pre>
<%= result.compilation_expected %></pre>

		<h2>Execution Output</h2>

<pre>
<%= result.output_expected %></pre>
		</div>
	<% end %>
	</body>
</html>
