<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>CIAT Report</title>
		<link rel="stylesheet" href="ciat.css"/>
	</head>
	
<%
def color_to_word(color)
	case color
	when "red" then "FAILURE"
	when "yellow" then "ERROR"
	when "green" then "passed"
	when "unset" then "n/a"
	end
end

def color_to_sentence(prefix, color)
	"<span class=\"#{color}\">#{prefix} " +
	case color
	when "red" then "failed"
	when "yellow" then "errored"
	when "green" then "passed"
	when "unset" then "not run"
	end +
	".</span>"
end
%>
	
	<body>
		
	<h1>Summary Table</h1>
	
	<table border="1" summary="Test summary">
		<tr>
			<th>Description</th>
			<th>Compilation</th>
			<th>Execution</th>
		</tr>		
		<% results.each do |result| %>
		<tr>
			<td><%= result.description %></td>
			<td class="<%= result.compilation_light.color %>">
				<%= color_to_word(result.compilation_light.color) %>
			</td>
			<td class="<%= result.execution_light.color %>">
				<%= color_to_word(result.execution_light.color) %>
			</td>
		</tr>
		<% end %>
	</table>
		
	<h1>Detailed Results</h1>
	
	<% results.each do |result| %>
	
		<h2><%= result.description %></h2>

		<p>
			<%= color_to_sentence("Compiler", result.compilation_light.color) %>
			<%= color_to_sentence("Executor", result.execution_light.color) %>
		</p>

		<h3>Source</h3>

<pre>
<%= result.source %></pre>

		<h3>Target Code</h3>

<table>
	<tr><th>Expected</th><th>Generated</th></tr>
<%= result.compilation_diff %>
</table>

		<h3>Execution Output</h3>

<% if result.compilation_light.green? %>
		<table>
			<tr><th>Expected</th><th>Generated</th></tr>
<%= result.output_diff %>
</table>
<% else %>
  <p>No target code to execute...</p>
<% end %>
		</div>
	<% end %>
	</body>
</html>
