<tr class="details" style="display:none">
  <td colspan="<%= result.processors.size + 1 %>">
	
	<%= render "detail_row/source", :source => result.crate.element(:source) %>
	
	<% result.processors.each do |processor| %>
	  <h3>Results from <%= processor.description %></h3>
	  <% if processor.light.yellow? || processor.light.unset? %>
			<%= render "detail_row/no_diff", :processor => processor %>
	  <% else %>
			<%= render "detail_row/optional_elements", :processor => processor,
						:crate => result.crate, 
						:optional_elements => processor.optional_elements %>
			<%= render "detail_row/checked_files",
			      :checked_files => processor.checked_files(result.crate) %>
    <% end %>
	<% end %>

</tr>
