<tr class="details" style="display:none">
  <td colspan="<%= result.processors.size + 1 %>">
	
	<%= render "detail_row/source", :source => result.crate.element(:source) %>
	
	<% result.processors.each do |processor| %>
	  <h3>Results from <%= processor.description %></h3>
	  <% case processor.light.setting  
		   when :yellow %>
		  <p class="yellow">
		    <%= light_to_sentence(processor.description, processor.light) %>
		  </p>
		<% when :unset %>
	  	<p class="unset">
	    	<%= light_to_sentence(processor.description, processor.light) %>
	  	</p>
	  <% else %>
			<% processor.optional_elements.each do |element| %>
				<% if result.crate.element(element) %>
				  <div class="<%= element %>">
				    <h3><%= processor.description(element) %></h3>
<pre class="source"><%= replace_tabs(result.crate.element(element)) %></pre>
					</div>
				<% end %>
			<% end %>
	    <% processor.checked_files(result.crate).each do |expected, generated, diff| %>

        <table>
          <tr><th>Expected</th><th>Generated</th></tr>
          <%= replace_tabs(File.read(diff)) %>
        </table>

			<% end %>
    <% end %>
	<% end %>

</tr>
